





.section{
    width: 100svw;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}



.social_icon{
    width: 7svw;
    cursor: pointer;
}
.size_correction_for_facebook{
    scale: 1.1;
    transform: translate(0,-.4svw);
}
