



.secondSection{
    display: grid;
    grid-template-columns: 40svw 30svw 30svw;

}


.circleImage{
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.buttonContainer{
    justify-content: center;
    align-items: center;
    margin-left: svw
}



.callToActionButton {
    display: block;
    border-radius: 2rem;     
    padding: 1rem;             
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    font-family: sans-serif;
    margin-top: 4svh;
    margin-left: 1.8svw;
    width: 28ch;

  }
  .scaleUpHalf{
    scale: 1.5;
  }


  .arrow2{
    justify-self: right;
    width:100%;
}
  
.arrowContainer{
    width: 100%;
    height: 100%;
    justify-content: right;
    align-items: center;
    align-content: center;
    justify-items: right;
    margin-top: -6svh;


}
.paragraphContainer{
    margin: 2svw 10svw 0svw 10svw;
    font-size: clamp(1rem, 0.85vw + 0.95rem, 3rem);

}

@media (max-width: 1100px) {
    .arrow2{
        width: 80%;
        justify-self: right;
        float: right;
    }
}

@media (max-width: 900px) {
    .secondSection {
      grid-template-columns: 1fr;
      grid-template-areas:
        "image"
        "button"
        "arrow";
      row-gap: 1.5rem;
      justify-items: center;
      text-align: center;
    }
  

  
    .callToActionButton {
      width: min(280px, 80vw);
      
    }
  
    .arrowCol {
      justify-content: center; /* center arrow under button */
    }
  
    .arrow2 {
      display: none;
    }
  }



  .journalWrap {
    position: relative;

    margin: 4svh auto;
  }
  
  .journalImg {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* shared column styles */
  .questionsCol,
  .answersCol {
    position: absolute;
    top: 14%;                
    height: 72%;             
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  /* spread 5 lines evenly */
    font-size: clamp(13px, 1.4vw, 41px);
    line-height: 1.4;
    margin-left: -4svw;
    margin-right: 5svw;
  }
  
  /* questions: left page */
  .questionsCol {
    left: 15%;               /* adjust so text sits over the dotted paper */
    width: 36%;              /* width of the question column */
  }
  
  /* answers: right page */
  .answersCol {
    right: 8%;               /* scoot it in from the right edge */
    width: 30%;              /* width of the answer column */
  }
  
  /* mobile: stack below image */
  @media (max-width: 900px) {
    .journalWrap {
      width: 110vw;
    }
  

  
    .answersCol {
      margin-top: 0.5rem;
    }
  }
  